.car-item{
  width: 250px;
  height: 150px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 1px 2px 5px gray;
  padding: 20px;
  color:white;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.title{
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 60px;
  margin-bottom: 20px;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;

}

.loading{
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50% -50%);
  font-size: 42px;
  color: #00d4ff;
}

.car-wrap{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.car-item:hover{
  transform: scale(1.02);
  background-color: white;
  color: black;
}